<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= skill.skill %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <h1> Skill # <%= skillNum %> </h1>
    <form action= "/skills/<%= skillNum - 1 %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">X</button> Delete Skill
     </form>
    <h3><%= skill.skill %> </h3>
    <h3>Learned: <%= skill.learned ? 'Yes' : 'No' %> </h3>

    <a href="/skills/<%= skillNum - 1 %>/edit">Edit Skill</a>
    <div>
        <a href="/skills" class="return">Back to Skills</a>
    </div>
</body>
</html>